.page {
  display: flex;
  justify-content: space-between;
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.welcome {
  margin: 0%;
  gap: 10px;
}
body{
  overflow: hidden;
  cursor: default;
}
