.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2b1b4c;
  height: 151px;
  padding-left: 46px;
  padding-right: 46px;
}
.header img {
  width: 166.55px;
  height: 32.69px;
}
.header p {
  color: #ffff;
  font-weight: 900;
  font-size: 36px;
  font-family: inter;
}
.inner {
  display: flex;
  flex-direction: column;
}
.head {
  font-size: 40px;
  font-weight: 600;
 
  color: #2b1b4c;
  text-decoration: underline #f9c95f 3px;
  text-underline-offset: 10px;
}
.body {
  display: flex;
  justify-content: space-between;
}
.pargraph {
  font-size: 20px;
  font-weight: 600;
  color: black;
  border: solid;
  border-color: #e3e3e3;
  max-width: 673px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  padding: 12px;
}
.submit-button {
  border-radius: 12px;
  font-size: 24px;
  font-weight: 700;
  color: white;
  max-width: 443px;
  width: 90%;
  height: 49px;
  border: 0px;
  color: white;
  border-radius: 6px;
}
.original {
  width: 100%;
  background-color: red;
}
.updated {
  width: 100%;
  background-color: red;
}

.submit-button.inactive {
  background-color: #f5666684;
  color: #ffff;
}
.format-pargraph {
  font-weight: 400;
  font-size: 16px;
  color: #646161;
}
.description {
  margin-left: 49px;
  font-weight: 400;
  font-size: 16px;
  color: #646161;
}
/* Active State */
.submit-button.active {
  background-color: #f56666;
  color: white;
  cursor: pointer;
}
